body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a4e8e7, #cee9f0); 
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 2% auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #d6995f);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background: linear-gradient(to bottom, rgb(157, 216, 234), rgb(95, 58, 231));
    color: #0d0304;
    padding: 20px;
    margin: 0 0 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="address"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, #302dbf, #412ac4);
}

.login-link {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
